@font-face {
    font-family: 'Hero';
    src: url(Fonts/Hero\ Bold\ 700.otf) format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Hero';
    src: url(Fonts/Hero\ Light\ 200.otf) format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'Hero';
    src: url(Fonts/Hero\ Regular\ 400.otf) format('opentype');
    font-weight: 400;
}

body {
    margin: 0;
    font-family: 'Hero';
}

/* SECTION 1 */
.section-1 {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 72px;
}

.main-text {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
    margin: 0;
}

.main-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.header-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-1 {
    width: 400px;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 200;
}

.header-container-1,
.header-container-2 {
    flex: 1;
}

.header-container-2 {
    display: flex;
    justify-content: center;
}

.main-text {
    color: #f9faf8;
}

.secondary-text {
    color: #E5E7EB;
    font-weight: 200;
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
}

button {
    color: #f9faf8;;
    background-color: #3882f6;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;

}

/* SECTION 2 */
.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 200px;
    padding-left: 200px;
}

.section-2-container-1 {
    display: flex;
}

#section-2-heading {
    font-weight: 700;
    font-size: 36px;
}

.button-card {
    border-style: solid;
    border-color: #3882f6;
    background-color: white;
    border-width: 3px;
    padding: 50px;
    border-radius: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* SECTION 3 */
.section-3 {
    background-color: #E5E7EB;
}


/* SECTION 4 */
.section-4-container-1 {
    background-color: #3882f6;
}



/* FOOTER */
footer {
    background-color: #1f2937;
    color: #E5E7EB;
    text-align: center;
    padding: 15px;
    font-size: 10px;
}